apiVersion: v1
kind: Secret
metadata:
  name: {{ include "outline.fullname" . }}
  labels:
    {{- include "outline.labels" . | nindent 4 }}
data:
  AWS_SECRET_ACCESS_KEY: {{ .Values.outline.aws.secret | b64enc | quote }}
  DATABASE_URL: {{ .Values.outline.postgresqlUrl | b64enc | quote }}
  AZURE_CLIENT_SECRET: {{ .Values.outline.auth.azure.clientSecret | b64enc | quote }}
  GOOGLE_CLIENT_SECRET: {{ .Values.outline.auth.google.clientSecret | b64enc | quote }}
  REDIS_URL: {{ include "outline.redisUrl" . | b64enc | quote }}
  SECRET_KEY: {{ .Values.outline.secrets.key | b64enc | quote }}
  SENTRY_DSN: {{ .Values.outline.sentryDsn | b64enc | quote }}
  SLACK_VERIFICATION_TOKEN: {{ .Values.outline.notifications.slack.verificationToken | b64enc | quote }}
  SMTP_PASSWORD: {{ .Values.outline.smtp.password | b64enc | quote }}
  UTILS_SECRET: {{ .Values.outline.secrets.utils | b64enc | quote }}
